.leftBar {
  flex: 1;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: #2b2b2b;
  font-family: Arial, sans-serif;
  padding-left: 1rem;

  height: 100%;
  padding-top: 1.5rem;
}

/* leftBar.module.css */

/* Title Styling */
.leftBar h2 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;

  margin-top: 0;
}

/* Form Styling */
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  margin-bottom: 1rem;
}
.form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
/* Label Styling */
.form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

/* Input and Textarea Styling */
.form input,
.form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  border-color: white;
  background-color: #2b2b2b;
}
.form input {
  height: 100%;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: #475569;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

/* Textarea Specific Styling */
.form textarea {
  resize: vertical;
  height: 80px;
}

.form select {
  flex: 1;
  height: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  border-color: white;
  background-color: #2b2b2b;
  margin-bottom: 1rem;
}


.form select:focus {
  outline: none;
  border-color: #475569;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

/* Button Styling */

.titleContainer {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: left;
  padding: 0;
  padding-left: 1rem;
  margin: 0;
  vertical-align: middle;
}

.pageStateButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  gap: 1rem;
}

.logo {
  height: 100%;
  width: auto;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
  gap: 1rem;
}

.buttonBottom {
  margin-bottom: 1rem;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 600px) {
  .leftBar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
}

.selected {
  background-color: #475569;
  color: white;
}
