.calendar {
  flex: 6;
  height: 100%;
  width: 100%; /* Full width of parent container */
  display: flex;
  justify-content: center; /* Optional: Center the calendar */
  align-items: center; /* Optional: Center the calendar */
  background-color: #1a1a1a; /* Light gray background like Google Calendar */
  
}

/* Toolbar (navigation bar) */
