.taskContainer {
  background-color: #0084ff;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  width: 11rem;
  height: 11rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
