.mainPage {
  height: 100vh;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.topContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex: 1;
  margin-bottom: 1rem;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #1a1a1a;
  flex: 6;
}

.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
}

.loadingPage h1 {
  color: black;
  vertical-align: middle;
}
