.mainPage {
  height: 100vh;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.topContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex: 1;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #1a1a1a;
  flex: 6;
}
